html, body {
    background-color: #fff;
    color: #636b6f;
    /* font-family: 'Special Elite', cursive; */
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: 200;
    margin: 0;
    padding: 0;
    align-items: center !important;
}

h2 {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 34px;
  color: #fff;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

/* menu */

nav {
  height: 12vh;
}

p {
  margin: auto;
}

hr {
  height: 2px;
  width: 70px;
  text-align: center;
  background: black;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

/* Style da navbar */

#logonavbar{

  font-family: 'Unica One', cursive;
  font-size: 1.5rem;
  margin-left: 10vw;
  color: black;
}

.navbar-nav {
  margin: auto;
}

#navbarSupportedContent{
  z-index: 10;
  margin: 0;
  background-color: white;
  text-align: center;
}

/* Style do carrossel */

.carousel-caption{
  opacity: 0.9;
  width: 60vw !important;
  margin: auto;
  bottom: 25%;
  padding: 3%;
}

.carrossel-legenda{
  font-size: 4.5rem;
}

.carrossel-sublegenda{
  font-size: 1.8rem;
}

.carrossel-legenda-paragrafo{
  font-size: 1.4rem;
}

/* Style da p치gina de registro */

.imagem-auth{
  background-image: url('../img/imgregistro.jpg');
  background-size: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

/* Categorias atendidas */

.parallax {
  background-image: url('../img/parallax.jpg');
  /* background-color: white; */
  background-size: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.textocategorias h2 {
    color: black;
    text-align: center;
}

.tab-content, .tab-pane, .media {
  border-bottom-left-radius: .50rem;
  border-bottom-right-radius: : .50rem;
}

.nav-pills {
  border-top-left-radius: .50rem;
  border-top-right-radius: : .50rem;
}


@media (min-width: 768px) {
.carousel-item {
  height: 88vh;
}
.img-categorias {
  width: 30vw;
}
}

@media (max-width: 767px) {
.img-categorias {
  width: 35vw;
}
.txt-categorias {
  font-size: 0.8rem !important;
}
}

/* Sobre n칩s (imagem e texto) */

.container-fluid {
  padding: 0;
}

.sobrenos {
  padding: 0;
  background-image: url('../img/bgfitness1.jpg');
  background-size: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;

}

.textosobre {
  color: white;
  background-color: rgba(255, 255,255, 0.3);
  margin: auto;
  padding: 30px;
  text-align: center;
}

.txtsobre{
  font-size: 1.051em;
  color: #FFF;
  text-align: center;
}

.imgsobre {
  background-image: url('../img/imgsobrenos.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* divs dos hor치rios e modalidades */

h2.menu-section-title {
  font-family: sans-serif;
  color: black;
  margin: auto;
  text-align: center;
}

.menu-section {
  padding: 50px;
}

.modhorario {
  border-bottom: 0.5px dotted #cc1f34;
  width: 10%;
  margin: auto;
  text-align: center;
}

.descricaomod {
  margin: auto;
  text-align: center;
}

.botaocontato {
  cursor: pointer;

  text-align: center;
  margin: 0;
}

.divbotao {
  display: flex;
  justify-content: center;
}

.card {
  margin: auto;
  text-align: center;
  width: 100%;
}


/* grid das fotos */

.row {
  margin: 0;
}

.galeria {
  margin: 30px 0;
}


/* Newsletter e footer */

.newsletter {
  background-color: #8D8D8D;
  padding-top: 15px;
}

.btn {
  margin-left: 1%;
}

.textonews {
  text-align: right;
}

.textonews p {
  margin-top: 0px;
  margin-top: 5px;
  font-size: 20px;
  text-align: right;
}

.conecte_footer {
  padding-top: 20px;
  text-align: center;
}

.imgicone {
  display: flex;
  justify-content: center;
}
.imgicone img {
  margin-left: 10px;
  margin-top: 10px;
}

.linksfooter a {
  text-decoration: none;
  color: #FFF;
}

.linksfooter a:hover {
  color: #CCC;
}


/* store */

.bannerstore {
  height: 400px;
  background-image: url('../img/bgstore.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.bannerbg {
  background-color: rgba(0, 0, 0, 0.6);
  height: 400px;
  margin: 0;
  padding: 0;
}
.planos {
  background-color: black;
  margin: 0;
  padding: 0;
}

.planos>hr{
  margin: 0 auto;
}



/* menu store */
.menustore {
  background-color: black;


}

.menublank {
  height: 100%;
}

.titulomenu {
  text-align: center;
  padding: 10px 0;
  color: white;
}

.listamenu {
  list-style-type: none;
  text-align: center;
  padding: 0;
  color: white;
}

.listamenu li {
  text-align: center;
  margin: auto;
}

#titulobanner {

  font-weight: bold;
  font-size: 4em;
  text-align: center;
  padding: 20vh;
}

.mapa {
  padding-top:15px;
  padding-left:100px;
}
.container-produtos {
  width: 60%;
}



/* Pagina produto individual */

.mainphoto>img {
  width: 400px;
  height: 100%;
}

.photo_item>img {
  margin-top: 5px;
  margin-right: 5px;
  width: 80px;
  height: 100%;
}

#todoproduto {
  background-color: #f9f9f9;
}

.carrinho {
  padding-top:30px;
  background-color: #f9f9f9;
}

.caixacarrinho {
  margin-top: 25px;
  width: 100%;
  height: 260px;
  background-color: #efefef;
  border-radius: 10px;
}

.caixacarrinho>h4 {
  padding-top:15px;
  margin-left:20px;
}

.botaocarrinho {
  padding-top: 25px;
}

/*P치gina de Read do CRUD de Admin - Produtos/Clientes/Planos*/

.lista-admin {
  text-align: center !important;
}
.tabela-admin {
  width: 90%;
  margin: 1% auto ;
  text-align: center;
}
.tabela-admin th,td{
  border: 1px solid black;
  padding: 10px;

}
.tabela-admin tr:hover {
  background-color: #f5f5f5;
}

.tabela-admin th {
  background-color: darkred;
  color: white;
  font-size: 1.1rem;
}

.mensagem-admin {
  color: black;
}
