html, body {
    background-color: #fff;
    color: #636b6f;
    /* font-family: 'Special Elite', cursive; */
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: 200;
    margin: 0;
    padding: 0;
    align-items: center !important;
}

h2 {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 34px;
  color: #fff;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

/* menu */

nav {
  height: 12vh;
}

p {
  margin: auto;
}

hr {
  height: 2px;
  width: 70px;
  text-align: center;
  background: #1367ad;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

/* Style da navbar */

#logonavbar{

  font-family: 'Unica One', cursive;
  font-size: 1.5rem;
  margin-left: 10vw;
  color: black;
}

.navbar-nav {
  margin: auto;
}

#navbarSupportedContent{
  z-index: 10;
  margin: 0;
  background-color: white;
  text-align: center;
}

/* Style do carrossel */

.carousel-caption{
  opacity: 0.9;
  width: 60vw !important;
  margin: auto;
  bottom: 25%;
  padding: 3%;
}

.carrossel-legenda{
  font-size: 4.5rem;
}

.carrossel-sublegenda{
  font-size: 1.8rem;
}

.carrossel-legenda-paragrafo{
  font-size: 1.4rem;
}

/* Style da página de registro */

.imagem-auth{
  background-image: url('../img/imgregistro.jpg');
  background-size: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

/* Categorias atendidas */

.parallax {
  background-image: url('../img/parallax.jpg');
  /* background-color: white; */
  background-size: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.textocategorias h2 {
    color: #fff;
    text-align: center;
}

.tab-content, .tab-pane, .media {
  border-bottom-left-radius: .50rem;
  border-bottom-right-radius: : .50rem;
}

.nav-pills {
  border-top-left-radius: .50rem;
  border-top-right-radius: : .50rem;
}

.nav-pills .nav-link.active {
  background-color: #1367ad;
}

.nav-link {
  padding: 15px 30px 15px 30px;
  font-size: 1rem;
}

.btn-cat {
  width: 50%;
  margin: auto;
}


@media (min-width: 992px) {
.carousel-item {
  height: 88vh;
}
.img-categorias {
  width: 30vw;
}
}

@media (max-width: 991px) {
.img-categorias {
  width: 35vw;
}
.txt-categorias {
  font-size: 0.8rem !important;
}
.carrossel-legenda{
  font-size: 2rem;
}
.nav-item{
  width: 100%;
}
.nav-link{
  padding: 5px;

}
.container {
  padding: 0;
}
.btn-cat{
  display: none;
}
}

.container-fluid {
  padding: 0;
}

/* Página do projeto vamos juntas */

.containerprojetojuntas{
  background-image: url('../img/bgjuntas.jpg');
  height: 88vh;
  background-size: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Newsletter e footer */

.newsletter {
  background-color: #8D8D8D;
  padding-top: 15px;
  margin: 0;
}

.textonews {
  text-align: right;
}

.textonews p {
  margin-top: 0px;
  margin-top: 5px;
  font-size: 20px;
  text-align: right;
}

.conecte_footer {
  padding-top: 20px;
  text-align: center;
}

.imgicone {
  display: flex;
  justify-content: center;
}
.imgicone img {
  margin-left: 10px;
  margin-top: 10px;
}

.linksfooter a {
  text-decoration: none;
  color: #FFF;
}

.linksfooter a:hover {
  color: #CCC;
}


/*Página de Read do CRUD de Admin - Produtos/Clientes/Planos*/

.lista-admin {
  text-align: center !important;
}
.tabela-admin {
  width: 90%;
  margin: 1% auto ;
  text-align: center;
}
.tabela-admin th,td{
  border: 1px solid black;
  padding: 10px;

}
.tabela-admin tr:hover {
  background-color: #f5f5f5;
}

.tabela-admin th {
  background-color: darkred;
  color: white;
  font-size: 1.1rem;
}

.mensagem-admin {
  color: black;
}
